{% extends 'base.html' %}
{% block title %}
    About Us
{% endblock %}


{% block content %}
{% if current_user.is_authenticated %}
<h2>Hello, {{ current_user.username }}! Welcome to Blogify<span class="wave">👋🏾</span></h2>
{% else %}
<h2>Hello and Welcome to Blogify! <span class="wave">👋🏾</span></h2>
{% endif %}

<p>
Blogify is an Altschool end of Semester exam project to build a
<br/>functional blogsite.
</p>
<p>
Feel free to share your thoughts, unwind and just write about
<br/>
anything that comes to mind.
</p>
<p>Let this be a portal to unlock your creativity through words.</p>




<p>
Blogify was created by <a href="https://linkedin.com/in/Jerrylyte">Jeremiah Ojonuba</a>,
a <br/>student of Backend Engineering at <a href="https://www.altschoolafrica.com/schools/engineering">Altschool Africa</a>
</p>

<p>To add or edit posts, you will need to <a href="url_for('register')">Sign Up</a> or <a href="url_for('login')">Login.</a></p>

<p>You can always reach out to drop feedback or make inquiry through the <a href="url_for('contact')"> Contact Form</a></p>

{% endblock %}
