{% extends 'base.html' %}

{% block title %}
		Sign Up
{% endblock %}


{% block content %}

{% for message in get_flashed_messages() %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}


<h2>{{ ('Create Your Profile') }}</h2>

	<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.firstname.label(class="form-label") }}

		{{ form.firstname(class="form-control") }}
		<br/>

    {{ form.lastname.label(class="form-label") }}

		{{ form.lastname(class="form-control") }}
		<br/>

		{{ form.username.label(class="form-label") }}

		{{ form.username(class="form-control") }}
		<br/>

		{{ form.email.label(class="form-label") }}

		{{ form.email(class="form-control") }}
		<br/>

		{{ form.password_hash.label(class="form-label") }}

		{{ form.password_hash(class="form-control") }}
		<br/>

		{{ form.confirm.label(class="form-label") }}

		{{ form.confirm(class="form-control") }}
		<br/>

		{{ form.submit(class="btn btn-secondary") }}
		<br/>
		<br/>
		<a href="{{ url_for('login') }}">Already have an account? Sign in</a>
		<br/>
	</form>
</div>
<br/><br/><br/>


{% endblock %}
